body {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  color: #626262;
 
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav-a:hover,
.nav-a:focus {
 color: #03A9F4;
}
.nav-a{
  font-size: 14px;
  line-height: 19px;

  color: #7d7d7d;
}
.nav-ul{
  display: flex;
  justify-content: center;
  padding-bottom: 92px;
}
.nav-li{
  padding-right: 100px;
}
.lol{
  display: flex;
}
b{
  font-family: 'Ubuntu';

font-weight: 300;
font-size: 14px;
line-height: 16px;
}
h2{

font-size: 30px;
line-height: 40px;
}
p{
  font-size: 14px;
line-height: 19px;

}
hr{
  border: 1px solid #000000;
transform: rotate(-0.06deg);

height: 0px;
width: 905.0005623800951px;
left: 148px;
top: 183px;
border-radius: nullpx;

}
section{
  padding-left: 148PX;
  padding-right: 147px;
  
}
button{
  border: 1px solid #626262;
  width: 165px;
height: 60px;
}
.l{
  justify-content: center;
}
