body {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  color: #626262;
 
 
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav-a:hover,
.nav-a:focus {
 color: #03A9F4;
}
.nav-a{
  font-size: 14px;
  line-height: 19px;

  color: #7d7d7d;
}
.nav-ul{
  display: flex;
  justify-content: center;
  height: 0px;
padding-bottom: 87px;
margin-right: 150px;

}
.nav-li{
  padding-left: 100px;
}

.lol{
  display: flex;
  width: 420px;

}
b{
  font-family: 'Ubuntu';

font-weight: 300px;
font-size: 14px;
line-height: 16px;
padding-bottom: 32px;
}
h2{

font-size: 30px;
line-height: 40px;
padding-bottom: 40px;
}
p{
  font-size: 14px;
line-height: 19px;


}
hr{
  position: absolute;
width: 905px;
height: 0px;
left: 148px;
margin-left: 134px;
margin-bottom: 100px;
top: 108px;
border: 1px solid #000000;
transform: rotate(-0.06deg);

}
section{
 
padding-left: 234px;
  
}
button{
  border: 1px solid #626262;
  width: 165px;
height: 60px;
}
.l{
  justify-content: center;
}
.lkj{
  padding-right: 65px;
}
img{
  padding-bottom: 62px;

}
.gg{
  padding-bottom: 130px;
}
.kjh{
margin-left: 350px;

}
.bbh{
  margin-bottom: 10px;
}

